{% extends "authentication/base.html" %}
{% load static %}
{% block content %}


  <div class="w-50 mx-auto mt-5 pt-5">
    <div class="card shadow">
      <div class="card-body">
        <div class="cart-title mb-3">
          <h3 class="text-center">Reset Your password</h3>
        </div>
        <p>Forgot Password!!
          Enter Your register Email address below

        </p>

        <form method="POST">

          {% csrf_token %}
          {{form}}
          <div class="my-3 d-grid">
            <button class="btn btn-dark" type="submit">Send Email</button>
          </div>


        </form>
      </div>
    </div>
  </div>

<script>
  $('input').addClass('form-control')
</script>
{% endblock %}